<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.gerardomedina.meetandeat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.LoginActivity"
            android:label="@string/title_login"
            android:noHistory="true" />
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".view.activity.MeetingActivity"
            android:label="@string/title_activity_scrolling"
            android:parentActivityName=".view.activity.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:theme="@style/AppTheme"
                android:value=".view.activity.MainActivity" />
        </activity>
        <activity
            android:name=".view.activity.NewMeetingActivity"
            android:label="@string/title_activity_scrolling"
            android:parentActivityName=".view.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:theme="@style/AppTheme"
                android:value=".view.activity.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".view.activity.LocationActivity"
            android:label="@string/title_activity_location"
            android:parentActivityName=".view.activity.MeetingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:theme="@style/AppTheme"
                android:value=".view.activity.MeetingActivity" />
        </activity>
        <activity android:name=".view.activity.InvitationsActivity" />
        <activity
            android:name=".view.activity.AdminActivity"
            android:label="@string/title_activity_admin"
            android:parentActivityName=".view.activity.MeetingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.gerardomedina.meetandeat.view.activity.MeetingActivity" />
        </activity>
    </application>

</manifest>